body{
  margin: 5em;
}
nav {
  list-style: thin;
}
span{
  font-style: italic;
  color: gray;
}
a{
  font-weight: bold;
  text-decoration:none;
}
ul{  
  
  padding: 0;
}
h1{
  border-bottom: 0.3em solid black;
}

nav ul {
  border-bottom: 0.3em solid black;
  list-style: none;
  margin-right: 2em;
  margin-top: 1em;
 }
li{
  list-style: none;
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  border-top-width: thick;
  border-top-color: black;
  border-top-style:  solid;
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
}
img{
  height: 1.5em;
  width: 1.5em;
}
